body {
  background-color: #fff;
  background-image: url('lium.png');
  background-repeat: no-repeat;
  background-position: 10% 5%;
}

div.sentence {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  height:100px;
  border-bottom: 1px solid #CCC;
}

div.row {
  margin-bottom: 1cm;
}

div.source h3 {
  font-weight: bold;
  color: #1A44EB;
}

div.target h3 {
  font-weight: bold;
  color: #A32517;
}

div.reference h3 {
  font-weight: bold;
  color: #74B524;
}

div.infosect {
  border: 2px solid #CCC;
  height: 250px;
}

div.imagearea {
  line-height:200px;
}

span.srcword {
  margin: 0px 2px 0px 2px;
  display: inline-block;
}

span.trgword {
  padding: 2px;
  display: inline-block;
  border: 1px solid white;
  cursor: default;
  margin: 2px;
}
span.trgword:hover {
  color: #A32517;
  border-color: #000;
  background-color: #EEE;
  cursor: pointer;
}

#srctext {
  border-color: #1A44EB;
}

#trgtext {
  border-color: #A32517;
}

#reftext {
  font-size: 16px;
}

/*
#attmatrixtable {
  font-weight: bold;
}

tr#trglabels td {
  transform: rotate(270deg);
}*/
