body {
  background-color: #fff;
  background-image: url('lium.png');
  background-repeat: no-repeat;
  background-position: 10% 5%;
}

div.sentence {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  border: 2px solid;
}

div.row {
  margin-bottom: 1cm;
}

div.infosect {
  border: 2px solid #CCC;
  height: 250px;
}

div.imagearea {
  line-height:200px;
}

span.srcword {
  margin: 0px 2px 0px 2px;
  display: inline-block;
}

span.trgword {
  display: inline-block;
  cursor: default;
  margin: 2px;
}
span.trgword:hover {
  color: #A32517;
  font-weight: bold;
}

#srctext {
  border-color: #1A44EB;
}

#trgtext {
  border-color: #A32517;
}

