body {
  background-color: #fff;
  background-image: url('lium.png');
  background-repeat: no-repeat;
  background-position: 10% 10%;
}

canvas {
border: 1px solid black;
position: absolute;
}

div.sentence {
  font-size: 20px;
  color: #333;
  font-weight: bold;
}

span.srcword {
  border: 2px solid #DDD;
  text-align: center;
  padding: 6px;
  margin: 0px 10px 0px 10px;
}

span.trgword {
  border: 2px solid #DDD;
  text-align: center;
  padding: 6px;
  margin: 0px 10px 0px 10px;
}

#srctext {
  margin-bottom: 3cm;
  color: black;
}
